<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>Navigation Of Home Page</title>
    
    <!-- Bootstrap core CSS -->
    <link href="$!webPath/resources/3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon CSS -->
    <link href="$!webPath/resources/3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-base.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-frame.css" rel="stylesheet">
  </head>
  <style>
     table tr td {
        vertical-align: middle !important;
    }
  </style>
  <body>
  
  <ul class="nav nav-sidebar">
     #foreach($opt in $subOperations)
     <li 
     #if ($currentSubOptId == $!opt.id)
     class="active" 
     #end
     ><a href="javascript:void(0)"
     #if ($!opt.opturl && $!opt.opturl != "")
     onclick="openURL('$!webPath/openSubPage.htm?optid=$!opt.id&opturl=$!opt.opturl')">
     #end
     <i class="$!opt.icon"></i>&nbsp;&nbsp;$!opt.optname</a></li>
     #end
   </ul>
    
  </body>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="$!webPath/resources/3rdparty/jquery/jquery-1.11.1.min.js"></script>
  <script src="$!webPath/resources/3rdparty/bootstrap/js/bootstrap.min.js"></script>
  <script src="$!webPath/resources/script/common.js"></script>
  <script type="text/javascript">
    // 增加左侧导航栏自动定位的功能
    (function(jQ) {
      jQ(document).ready(function() {
        var target = jQ("ul.nav.nav-sidebar>li>a");
        var i, length, curDom, url = "/" + window.location.href.split("/").pop();
        for (i = 0, length = target.length; i < length; i++) {
          curDom = jQ(target[i]);
          if (curDom.attr("onclick") && ~curDom.attr("onclick").indexOf(url)) {
            jQ("ul.nav.nav-sidebar>li.active").removeClass("active");
            curDom.parent().addClass("active");
            break;
          }
        }
      });
    }(jQuery));
  </script>
</html>
