<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.iccp.users.mapper.UsersMapper">
 
  <select id="findUsers" resultType="com.nebula.iccp.users.pojo.Users">
    select username, userpwd from tbl_users;
  </select>

</mapper>