<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登陆页面</title>
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="pragma" content="no-cache" /> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" /> 
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
	
	<!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template 
    <link href="bootstrap/custom-base.css" rel="stylesheet">
    -->
    <!-- Custom styles for this template 
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    -->
    <!-- Custom styles for this template -->
    <link href="style/cover.css" rel="stylesheet"/>
    
</head>
<style type="text/css">
.file-box {
	position: relative;
	width: 340px
}

.file {
	position: absolute;
	top: 0;
	right: 80px;
	height: 24px;
	filter: alpha(opacity :   0);
	opacity: 0;
	width: 260px;
	vertical-align: middle;
	margin: 0;
	padding: 0
}
</style>
<body>
<div class="site-wrapper">

     <div class="site-wrapper-inner">

       <div class="cover-container">

         <div class="masthead clearfix">
           <div class="inner">
             <h3 class="masthead-brand" style="font-weight:bold">中国中铁薪资管理平台</h3>
             <ul class="nav masthead-nav">
               <li class="active"><a href="#">首页</a></li>
               <li><a href="#">微信平台</a></li>
               <li><a href="#">报表统计</a></li>
             </ul>
           </div>
         </div>
         
         <div id="myCarousel" class="carousel slide">
		    <!-- 轮播（Carousel）指标 -->
		    <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1"></li>
		        <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>
		    <!-- 轮播（Carousel）项目 -->
		    <div class="carousel-inner">
		        <div class="item active">
		            <img src="/img/top1.jpeg" alt="First slide"/>
		        </div>
		        <div class="item">
					<img src="/img/top1.jpeg" alt="First slide"/>
		        </div>
		        <div class="item">
					<img src="/img/top1.jpeg" alt="First slide"/>
		        </div>
		    </div>
		    <!-- 轮播（Carousel）导航 -->
		    <a class="carousel-control left" href="#myCarousel"
		        data-slide="prev">
		    </a>
		    <a class="carousel-control right" href="#myCarousel"
		        data-slide="next">
		    </a>
		 </div>

         <div class="inner cover" style="height:200px;">
           <table class="table table-condensed table-hover" style="color:#000000;text-align:left;height:200px;">
			<!-- On cells (`td` or `th`) -->
			<tr>
			  <th class="info">日期</th>
			  <th class="info">姓名</th>
			  <th class="info">岗位工资</th>
			  <th class="info">月预知绩效</th>
			  <th class="info">安全奖</th>
			  <th class="info">工龄工资</th>
			  <th class="info">特贴/房补</th>
			  <th class="info">绩效清算</th>
			  <th class="info">降温费/取暖费</th>
			  <th class="info">补资/其它</th>
			  <th class="info">加班费</th>
			  <th class="info">奖励</th>
			  <th class="info">出车补贴</th>
			  <th class="info">生活保障</th>
			  <th class="info">误餐费</th>
			  <th class="info">应得工资</th>
			  <th class="info">养老金</th>
			  <th class="info">养老金调整</th>
			  <th class="info">年金</th>
			  <th class="info">失业金</th>
			  <th class="info">失业金调整</th>
			  <th class="info">医疗金</th>
			  <th class="info">医疗金调整</th>
			  <th class="info">公积金</th>
			  <th class="info">大病统筹</th>
			  <th class="info">电话/宽带</th>
			  <th class="info">备用金/会费</th>
			  <th class="info">个人所得税</th>
			  <th class="info">实发工资</th>
			  <th class="info">备   注</th>
			</tr>
			<tr th:each="salaryinfo:${salarylist}">
			  <td class="active" th:text="${salaryinfo.date}"></td>
			  <td class="active" th:text="${salaryinfo.userName}"></td>
			  <td class="active" th:text="${salaryinfo.postSalary}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.safetyAward}"></td>
			  <td class="active" th:text="${salaryinfo.seniorityWage}"></td>
			  <td class="active" th:text="${salaryinfo.specialPaste}"></td>
			  <td class="active" th:text="${salaryinfo.performanceLiquidation}"></td>
			  <td class="active" th:text="${salaryinfo.coolingAndHeatingCosts}"></td>
			  <td class="active" th:text="${salaryinfo.replenishment}"></td>
			  <td class="active" th:text="${salaryinfo.overtimePay}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			  <td class="active" th:text="${salaryinfo.advancePerformanceAward}"></td>
			</tr>
		 </table>
            <div class="row bootstrap-admin-no-edges-padding">
				<div class="col-md-12">
					<button class="btn btn-primary" data-toggle="modal"
						data-target="#myModal">导入</button>
				</div>
			</div>
         </div>
         <div class="mastfoot">
           <div class="inner">
             <p>中铁一局信息化办公室 <a href="http://getbootstrap.com">薪资管理平台</a>&nbsp;&nbsp;&nbsp;&nbsp; 联系方式： <a href="https://twitter.com/mdo">haoyanru1986@126.com</a>.</p>
           </div>
         </div>
       </div>
     </div>

   </div>
</body>
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="jquery/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="json/json2.js"></script>
<script src="script/upload.js"></script>
<script src="script/paymentinfo.js"></script>
<script>
	
</script>
</html>