<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Home Page</title>
    <!-- Bootstrap core CSS -->
    <link href="$!webPath/resources/3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-base.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-frame.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	
</head>
<style>

</style>
<!-- BEGIN BODY -->
<body>
    $!httpInclude.include("/head.htm")
	<!-- BEGIN CONTAINER -->
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          $!httpInclude.include("/navigation.htm")
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
			   <div class="panel-body">
			        <form class="form-inline" role="form" name="ListForm" id="ListForm" method="post" action="#">
			        <nav>
				        <div class="btn-group" >
						  <button type="button" class="btn btn-default" onclick="openURL('$!webPath/core/rights_rolelist.htm')"><i class="icon-reorder"></i>&nbsp;列表</button>
						  <button type="button" class="btn btn-default" onclick="openURL('$!webPath/core/rights_roleadd.htm')"><i class="icon-plus"></i>&nbsp;增加</button>
						  <button type="button" class="btn btn-default" onclick="batchExecute('$!webPath/core/rights_roledel.htm')"><i class="icon-key"></i>&nbsp;权限</button>
						</div>
			        </nav>
			        #foreach($member in $optMap.entrySet())
		            #set($pnode=$member.key)
		            #set($sublist=$member.value)
			        <div class="panel panel-default" style="margin-top:20px;">
			          <div class="panel-body">
				        <span style="border-left-style:solid;border-left-width:5px;border-left-color:#356AA0;padding-left:8px;">
				        <strong>$pnode.optname</strong></span>
					    <br>
					    <input type="checkbox" name="all_$pnode.optcode" id="$pnode.optcode" value="" onclick="selectAllSub(this)"> 全选
					    #foreach($subnode in $sublist)
					    #set($tag='_')
					    <input type="checkbox" onclick="unselect('$!pnode.optcode');"
					    #foreach($smRoleOperation in $smRoleOperationList)
					    #if ($smRoleOperation.optid == $subnode.id)
					    checked = "checked"
					    #end
					    #end
					    id="$pnode.optcode$tag$subnode.id" style="margin-top:10px;margin-left:30px;" value="$subnode.id"> $subnode.optname
					    #end
					  </div>
			        </div>
				    #end
					 <ul class="pager">
					    <li ><a href="javascript:void(0)" 
	                      onclick="batchExecute('$!webPath/core/rights_save.htm')">完成</a></li>
					  </ul>
					  <input type="hidden" name="mulitId" id="mulitId">
					  <input type="hidden" name="roleid" id="roleid" value="$!smRole.id">
					 </form>
			   </div>
		   </div>
        </div>
     </div>
    </div>
    
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="$!webPath/resources/3rdparty/jquery/jquery-1.11.1.min.js"></script>
    <script src="$!webPath/resources/3rdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="$!webPath/resources/script/common.js"></script>
    <script src="$!webPath/resources/script/system/rights_setting.js"></script>
    <script>
	</script>
</body>
</html>