<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Head Of Home Page</title>
    
    <!-- Bootstrap core CSS -->
    <link href="$!webPath/resources/3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-base.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-frame.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  
  </head>
  <body>
      <!-- BEGIN FOOTER -->
    <div class="footer">
		<div class="footer">2013 &copy; Metronic by keenthemes.</div>
		<div class="footer-tools">
			<span class="go-top"> <i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
  </body>

