<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>系统管理</title>
    <!-- Bootstrap core CSS -->
    <link href="$!webPath/resources/3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon CSS -->
    <link href="$!webPath/resources/3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-base.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!webPath/resources/3rdparty/bootstrap/custom-frame.css" rel="stylesheet">
</head>
<style>

</style>
<!-- BEGIN BODY -->
<body>
    $!httpInclude.include("/head.htm")
	<!-- BEGIN CONTAINER -->
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          $!httpInclude.include("/navigation.htm")
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
               <form class="form-inline" name="ListForm" id="ListForm" method="post" action="#">
			   <div class="panel-body">
			        <nav>
				        <div class="btn-group" >
						  <button type="button" class="btn btn-default" onclick="openURL('$!webPath/core/system_mgr.htm')"><i class="icon-reorder"></i>&nbsp;列表</button>
						  <button type="button" class="btn btn-default" onclick="openURL('$!webPath/core/admin_add.htm')"><i class="icon-plus"></i>&nbsp;增加</button>
						  <button type="button" class="btn btn-default" onclick="batchExecute('$!webPath/core/admin_del.htm')"><i class="icon-remove"></i>&nbsp;禁用</button>
						</div>
						<div class="navbar-right input-group" style="margin-right:0px;">
					      <input type="text" name="condition" class="form-control input-sm" placeholder="Search...">
					      <span class="input-group-btn">
					        <button class="btn btn-default btn-sm" type="button"><i class="icon-search"></i></button>
					      </span>
			            </div>
			        </nav>
				    <table class="table table-condensed table-hover">
					  <tr class="active">
					  <th>选择</th>
					  <th>名称</th>
					  <th>角色</th>
					  <th>账号</th>
					  <th> 操作</th>
					  </tr>
					  #foreach($obj in $objs)
					  <tr>
					  <td><input type="checkbox" value="$!obj.id"></td>
					  <td>名称</td>
					  <td>角色</td>
					  <td>账号</td>
					  <td>
					  <a title="设置角色" style="font-size:14px;" onclick="openURL('$!webPath/core/admin_mgr_step2.htm?userid=$!obj.id')"><i class="icon-user-md"></i></a>
					  <a title="禁用账号" style="font-size:14px;color:red;margin-left:10px;"><i class="icon-remove"></i></a>
					  </td>
					  </tr>
				      #end
				    </table>
				    <nav class="nav navbar-right" style="margin-right:0px;">
					  $!gotoPageFormHTML
                    </nav>
			   </div>
			   <input name="userRole" type="hidden" id="userRole" value="ADMIN" />
			   <input type="hidden" name="currentPage" id="currentPage" value="$!currentPage" />
			   <input type="hidden" name="mulitId" id="mulitId" />
			   </form>
		   </div>
        </div>
     </div>
    </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="$!webPath/resources/3rdparty/jquery/jquery-1.11.1.min.js"></script>
<script src="$!webPath/resources/3rdparty/bootstrap/js/bootstrap.min.js"></script>
<script src="$!webPath/resources/script/common.js"></script>
</body>
</html>